<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../public/stylesheets/callback.css">
</head>
<body onload="gen()">
    <body class = "default">
        <script src = "../public/js/lastfm/static_key.js" type = "module"></script>
        <script src = "../public/js/strava/auth_strava.js" type = "module"></script>
        <p> Hello world</p>
        <button onclick="loadStatic()"> Hello </button>
    </body>
</body>
</html>