<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="getId()">
    <script  src="../public/js/lastfm/auth_lf.js" type = "module"></script>
    <script src="../public/js/lastfm/get_id.js" type = "module"></script>
    <script src="../public/js/strava/send_auth.js" type = "module"></script>
    <script src = "../public/js/strava/strava_api.js" type = "module"></script>
    <button onclick="authlf()"> Last fm</button>
    <button onclick="authStrava()"> Strava</button>
    <button onclick = "getAccess()"> Get data!</button>
    <li> Your top 3 last run:
        <ol id="first0"></ol>
        <div id="album00"></div>
        <ol id="second0"> </ol>
        <div id="album10"></div>
        <ol id="third0"> </ol>
        <div id="album20"></div>
        <ol id="first1"></ol>
        <div id="album01"></div>
        <ol id="second1"> </ol>
        <div id="album11"></div>
        <ol id="third1"> </ol>
        <div id="album21"></div>
        <ol id="first2"></ol>
        <div id="album02"></div>
        <ol id="second2"> </ol>
        <div id="album12"></div>
        <ol id="third2"> </ol>
        <div id="album22"></div>
    </li>
    
</body>
</html>