<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="getId()">
    <script  src="../public/js/lastfm/auth_lf.js" type = "module"></script>
    <script src="../public/js/lastfm/get_id.js" type = "module"></script>
    <script src="../public/js/strava/send_auth.js" type = "module"></script>
    <script src = "../public/js/strava/strava_api.js" type = "module"></script>
    <button onclick="authlf()"> Last fm</button>
    <button onclick="authStrava()"> Strava</button>
    <button onclick = "getAccess()"> Get data!</button>
    
</body>
</html>